*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.campo-cadastro-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;   
    text-decoration: none;
}

.campo-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;  
}

.btn-continua a{
  color: white;
  text-decoration: none;
  
}